<blockquote class="blockquote">
  <p class="mb-3"><%= @question %></p>
  <footer class="blockquote-footer"><cite title="Source Title">You</cite></footer>
</blockquote>
<blockquote class="blockquote">
  <p class="mb-3"><%= @answer %></p>
  <footer class="blockquote-footer"><cite title="Source Title">Your coach</cite></footer>
</blockquote>
<%= link_to "Ask a new question", "ask" %>
